@model NovaBlog.Models.BlogPost
@using NovaBlog.Enums
@using NovaBlog.Services.Interfaces

@inject IImageService _ImageService

@{
    ViewData["Title"] = "Edit";
    //Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/ckeditor5/sample/styles.css" />

<h1>Edit</h1>

<h4>BlogPost</h4>
<hr />
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="axil-comment-area">
                    <div class="row text-center">
                        <div class="col-md-12 text-centered">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Edit" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="Created" />
                                            <input type="hidden" asp-for="LastUpdated" />
                                            <input type="hidden" asp-for="Slug" />
                                            <input type="hidden" asp-for="ImageData" />
                                            <input type="hidden" asp-for="ImageType" />
                                            <div class="form-group">
                                                <label asp-for="Title" class="control-label"></label>
                                                <input asp-for="Title" class="form-control" />
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Contnet" class="control-label">Content</label>
                                                <textarea asp-for="Contnet" class="form-control editor" rowls="7"></textarea>
                                                <span asp-validation-for="Contnet" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CategoryId" class="control-label"></label>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Abstract" class="control-label"></label>
                                                <input asp-for="Abstract" class="form-control" />
                                                <span asp-validation-for="Abstract" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Tags" class="form-label">Tags</label>
                                                <select multiple name="TagList" class="form-control" asp-items="ViewBag.TagList"></select>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label asp-for="BlogPostImage" class="control-label"></label>
                                                <input asp-for="BlogPostImage" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                                                       onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])">
                                                <span asp-validation-for="BlogPostImage" class="text-danger"></span>
                                            </div>
                                            <div class="col col-md-4">
                                                @if (Model.ImageData != null)
                                                {
                                                    <img id="imageData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="@_ImageService.ConvertByteArrayToFile(Model.ImageData,Model.ImageType!,(int)DefaultImage.BlogPost)" />
                                                }
                                            </div>
                                            <span asp-validation-for="BlogPostImage" class="text-danger"></span>
                                            <div class="form-group">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div>
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/ckeditor5/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',

            })
            .then(editor => {
                window.editor = editor;


            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>

        }
